---
---

.bg {
    background: #0038A8;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;

    img {
        z-index: 2;
        width: 100%;
        max-width: 512px;
    }
}

#nav-logo {
    height: 24px;
}