---
---

.bg {
    background: #250f20;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;

    img {
        z-index: 2;
    }
}

#nav-logo {
    height: 24px;
}